body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    margin-top: 50px;
}

.titulo {
    color: #003366;
    font-size: 36px;
    font-family: 'Verdana';
    margin-bottom: 20px;
}

.imagem {
    width: 600px;
    border-radius: 20px;
}